/* ========================
ditecco.me responsive styles
======================== */


@media screen and (max-width: 600px) {
	
	/* ========================
	COMMON
	======================== */
	
	h1,h2 {font-size: 1.8em;}
	
	h3 {font-size: 1.45em;}
	
	
	/* ========================
	NAV
	======================== */
	
	header,
	nav
	{display: none;}
	
	
	/* ========================
	HERO
	======================== */
	
	#hero {
/* 		height: 30em; */
		height: 24em;
		background-position: 50% 50%;
		background-size: cover;
	}
		
	#hero h1 {
		top: 65%;
		padding: 0 0.75em;
		white-space: normal;
		line-height: 1.5;
		font-size: 1.55em;
	}
	
	#hero h1 br {display: none;}
	
	
	/* ========================
	ABOUT
	======================== */
	
	#about {
		border-bottom: 3px double #1abc9c;
		padding: 0 6%;
	}
	
	
	/* ========================
	PROJECT LIST
	======================== */
	
	.pro-list li {
		height: auto;
		min-height: 12.5em;
		border-bottom: 2px dotted #ccc;
/* 		background-color: gray; */
	}
	
	.pro-list li h3 {
		margin: 0;
		padding-top: 12%;
	}
	
	.pro-list .tag {
		display: block;
		font-size: 0.6em;
		margin: 1em 20%;
		padding: 0.2em 1em;
	}
	
	.pro-list p {
/* 		font-size: 0.95em; */
		padding: 0 15%;
		margin: 0;
/* 		letter-spacing: -0.05em; */
	}

	
}