/* ========================
ditecco.me styles
======================== */


/* ========================
COMMON
======================== */

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
	text-align: center;
	color: #555;
	background-color: #f4f5f2;
}

h1,h2,h3,h4,h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

h1 {font-size: 2.4em;}

h2 {
	font-size: 2em;
	margin: 0.8em 0;
}

h3 {font-size: 1.6em;}

a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #1abc9c;
}

a:hover {
	text-decoration: none;
	color: #1abc9c;
}

::selection {
	background: #1abc9c;
	color: #f1f1f1;
}

.tag {
	font-size: 0.6em;
	text-transform: uppercase;
	color: #e74c3c;
	border: 2px solid #e74c3c;
	border-radius: 20px;
	margin: 0 0 0 1em;
	padding: 0.2em 1em;
	vertical-align: 16.5%;
}

.tag.tfeat {
	color: #470ff4;
	border: 2px solid #470ff4;
}

.tag.tarch {
	color: #a9a9a9;
	border: 2px solid #a9a9a9;
}


/* ========================
NAV
======================== */

header {
	width: 100%;
	background-color: #373636;
	position: fixed;
	z-index: 100;
	margin-top: 0;
	border-bottom: 2px solid #1c1b1c;
}

nav ul {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
}

nav a,
nav a:hover {
	color: #f1f1f1;
	text-decoration: none;
	border: none;
	background-color: none;
}

nav li {
	height: 100%;
	width: 10em;
	display: inline-block;
	list-style: none;
	border-left: 1px solid #1c1b1c;
	color: #f1f1f1;
	padding: 1.1em 0;
	font-size: 0.8em;
	text-align: center;
	text-transform: uppercase;
	/* Transitions */
	-webkit-transition: background-color 0.6s ease;
	-moz-transition: background-color 0.6s ease;
	-o-transition: background-color 0.6s ease;
	transition: background-color 0.6s ease;
}

nav li:hover {
	background-color: #1abc9c;
}

#home {
	border: none;
}


/* ========================
HERO
======================== */

#hero {
	width: 100%;
	height: 43.75em;
	background: #cfd0d0 url('../img/adt-hero.jpg') center center no-repeat;
	position: relative;
}

#img-tint {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
}
	
#hero h1 {
	position: absolute;
	bottom: 0;
	top: 83.4%;
	right: 0;
	left: 0;
	margin: 0 auto;
	color: #f1f1f1;
	line-height: 1.2;
	white-space: nowrap;
}


/* ========================
ABOUT
======================== */

#about {
	height: auto;
	border-bottom: 3px double #1abc9c;
	padding: 0 15%;
}

#about p {
	font-size: 1.1em;
	line-height: 2.5;
}


/* ========================
PROJECT LIST
======================== */

.pro-list {
	width: 100%;
	margin: 0;
}

.pro-list ul {
	margin: 0;
	padding: 0;
}

.pro-list li {
	height: 12.5em;
	border-bottom: 1px dotted #ccc;
	color: #444;
	background-color: #fff;
	/* Transitions */
	-webkit-transition: background-color 0.6s ease;
	-moz-transition: background-color 0.6s ease;
	-o-transition: background-color 0.6s ease;
	transition: background-color 0.6s ease;
}

.pro-list li h3 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 0;
	padding-top: 2.5em;
}

.pro-list li:hover {
	background-color: #e6e3df;
}


/* ========================
FOOTER
======================== */

footer {
	width: 100%;
	height: 48px;
	color: #ccc;
}

footer p {
	font-size: 0.7em;
	padding-top: 1.4em;
	margin: 0;
}