@media screen and (min-width: 600px) {
  .module.full {
    -webkit-flex-basis: 60em;
        -ms-flex-preferred-size: 60em;
            flex-basis: 60em;
  }
  .module.half {
    -webkit-flex-basis: 30em;
        -ms-flex-preferred-size: 30em;
            flex-basis: 30em;
  }
}
@media screen and (max-width: 320px) {
  .module {
    min-height: auto;
  }
}
