/* ========================
ITAKEPICTURES styles
======================== */
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #444;
  background-color: #333;
  font-size: 100%;
  margin: 0;
}
h1 {
  font-weight: 400;
  font-size: 1.25em;
}
#wrapper h1 {
  color: #f1f1f1;
  text-align: center;
  letter-spacing: 0.1em;
}
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #111;
  margin: 0;
  padding: 0;
}
.lazy {
  display: none;
}
::-moz-selection {
  background-color: #000;
}
::selection {
  background-color: #000;
}
/* ========================
FLEX
======================== */
.module {
  height: 480px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #111;
  overflow: hidden;
  position: relative;
  border: 1px solid #000;
  outline: 1px dotted teal;
  background-color: gray;
}
.module.full {
  max-width: 960px;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  /*
	// 	debug
	outline: 2px solid aqua;
*/
}
/*
.module.full img {
	top: 50%;
	left: 50%;
}
*/
.module.half {
  max-width: 480px;
  /*
	// 	debug
	outline: 2px solid orange;
*/
}
.capt {
  width: 100%;
  position: absolute;
  bottom: 0%;
  color: #f1f1f1;
  padding-left: 1em;
  background-color: rgba(0, 0, 0, 0.25);
}
.capt p {
  padding-left: 0.5em;
  border-left: 3px solid gold;
}
