/* ========================
thedigitaleague styles
======================== */


/* ========================
COMMON
======================== */

body {
	margin-top: 0;
	font-family: 'Karla', sans-serif;
	font-size: 1.1em;
	text-align: left;
	color: #444;
}

a {
	color: #a34129;
	text-decoration: none;
}

a:hover {
	color: #a34129;
	text-decoration: none;
	border-bottom: 2px solid #a34129;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	font-weight: 400;
	text-align: center;
	padding: 0 0 1em;
	margin: 0;
}

.underline {border-bottom: 4px solid #a34129;}

::selection {background-color: #b0b8a6}


/* ========================
NAV
======================== */

nav {
	width: 100%;
	height: 3em;
	margin-top: 0;
	z-index: 100;
	position: fixed;
	background-color: #f1f1f1;
	border-bottom: 2px solid #a34129;
	font-family: Helvetica, Arial;
	font-size: 0.8em;
	text-align: center;
}

#nav-cont {
	width: 43.1em;
	height: 100%;
	margin: 0 auto;
/* 	background-color: aqua; */
}

nav ul {
	width: auto;
	max-width: 80%;
	padding: 0;
	float: right;
/* 	background-color: orange; */
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin: 0 0 0 1em;
}

nav ul li a {
	text-decoration: none;
	color: #222;
}

nav ul li a:hover {
	text-decoration: none;
	color: #b0b8a6;
	color: #a34129;
	border-bottom: 2px solid #a34129;
}

#logo {
	width: 20%;
	display: inline-block;
	float: left;
	padding: 0.8em 0;
	font-family: 'Oswald', sans-serif;
	color: #222;
	text-transform: uppercase;
/* 	background-color: gray; */
}

#logo a {color: #222;}

#logo a:hover {color: #a34129;}


/* ========================
HERO
======================== */

#hero {
	width: 100%;
	height: 37.5em;
	position: relative;
	background:
		linear-gradient(
			rgba(175, 184, 165, 0.9),
			rgba(175, 184, 165, 0.8)
		),
		url('../img/tdl-hero.jpg')
		#b0b8a6;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*
#hero img {
	position: absolute;
	top: 30%;
	bottom: 0;
	left: 0;
	right: 0; 
	margin: 0 auto;
}
*/

#hero-logo {
	background: url('../img/tdl-logo-400.png');
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}


/* ========================
LAYOUT ELEMENTS
======================== */

.row {
	width: 100%;
	background-color: #eee;
}

.row-alt {
	width: 100%;
	background-color: #b0b8a6;
}

.quote {
	width: 100%;
	background-color: #e4e4e4;
}

.quote p {
	margin: 0;
	padding: 1.2em;
	font-size: 1.9em;
	line-height: 1.5;
	text-align: center;
	color: #555;	
}

.wrap {
	max-width: 43.5em;
	height: auto;
	margin: 0 auto;
	padding: 1em 0;
}

.wrap:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
}

.col {
	width: 40%;
	height: 100%;
	display: inline-block;
	float: left;
	padding: 0 5% 0;
	line-height: 1.5;
}

.col li {
	padding: 0.8em;
	list-style: decimal-leading-zero;
	list-style-position: inside;
	line-height: 1.8;
	color: #444;
	background-color: #f1f2f1;
	border-bottom: 1px solid #ddd;
}

.col li::marker {
	color: #a34129;
}

.biglist {
	padding: 0 2em;
}

.biglist li {
	list-style: none;
	padding: 0 0.5em;
	margin: 0.1em 0;
	list-style-position: inside;
	font-size: 1.3em;
	line-height: 2.5;
	background-color: #fff;
}


/* ========================
FOOTER
======================== */

footer {
	width: 100%;
/* 	height: 3em; */
	height: auto;
	margin: -1.4em 0 0;
	padding: 0.4em 0;
	font-family: Helvetica, Arial;
	color: #555;
	font-size: 0.8em;
	text-align: center;
	background-color: #222;
}