/* ========================
thedigitaleague responsive styles
======================== */


@media screen and (max-width: 600px) {

	/* ========================
	COMMON
	======================== */
	
	h2 {font-size: 1.6em;}
		
	
	/* ========================
	NAV
	======================== */
	
	nav {border-bottom: none;}
	
	#nav-cont {
		width: 100%;
		margin: 0;
	}
	
	nav ul {
		width: 100%;
		max-width: 100%;
		height: 80%;
		margin: 0;
		float: none;
		background-color: rgba(240, 241, 240, 0.5);
		border-bottom: 2px solid #a34129;
	}
	
	nav ul li {padding: 0.6em 0;}

	#home {
		width: 100%;
		display: block;
		float: none;
		padding: 0.8em 0;
	}

	
	/* ========================
	HERO
	======================== */
	
	#hero {height: 22em;}
	
	#hero-logo {
		height: 100%;
		width: 100%;
		background-size: 80% auto;
	}

	
	/* ========================
	LAYOUT ELEMENTS
	======================== */
	
	.quote p {
		padding: 1em;
		font-size: 1.25em;
		line-height: 1.6;
	}
		
	.wrap {
		width: auto;
	}
	
	.col {
		width: 90%;
		display: block;
	}
	
	.biglist {
		padding: 0 5% 0;
	}
	
	
	/* ========================
	FOOTER
	======================== */
}