---
layout: dir-index
title: ditecco.me/projects
description: This is Alessandro Di Tecco's projects directory.
---

//- vars
//- using 'block unbuffered code' as per:
//- https://pugjs.org/language/code.html
-
	var iterables = [
		{
			title: 'I Take Pictures',
			timestamp: '2015',
			url: 'itakepictures/',
			taxonomy: 'photography'
		}
	]

//- just one for now...
each item in iterables
	li.index-item
		//- using attribute interpolation, as per:
		//- https://pugjs.org/language/attributes.html
		a(href=`${item.url}`)
			article.index-item-inner
				span.index-item-timestamp #{item.timestamp}
				h3.index-item-title #{item.title}
				span.index-item-tag #{item.taxonomy}
