
# ---------------------------------
# source
# --------------------------------- 

__source/_assets/
__source/_tmp/
__source/_discontinued/
__source/jekyll/.sass-cache/
__source/jekyll/_drafts/


# ---------------------------------
# deploy
# --------------------------------- 

public/
__deploy/


# --------------
# system
# --------------

.DS_Store


# ---------------------------------
# overrides
# --------------------------------- 

!.htaccess