
# ---------------------------------
# source
# ---------------------------------

__source/_assets/
__source/_tmp/
__source/_discontinued/
__source/jekyll/.sass-cache/
__source/jekyll/_drafts/


# ---------------------------------
# deploy
# ---------------------------------

public/
__deploy/


# ---------------------------------
# packages
# ---------------------------------

.bundle/
# should I include .bundle/config ?
vendor/
node_modules/


# ---------------------------------
# assets
# ---------------------------------

jquery


# --------------
# system
# --------------

.DS_Store


# ---------------------------------
# overrides
# ---------------------------------

!.htaccess
