
# ---------------------------------
# source dir
# ---------------------------------

__source/_assets/
__source/_tmp/
__source/_discontinued/
__source/jekyll/_drafts/


# ---------------------------------
# deploy dir
# ---------------------------------

public/
__deploy/


# ---------------------------------
# packages
# ---------------------------------

# should I include .bundle/config ?
.bundle/
vendor/
node_modules/


# ---------------------------------
# assets
# ---------------------------------


# ---------------------------------
# caches
# ---------------------------------

__source/jekyll/.jekyll-metadata
__source/jekyll/.sass-cache/
__source/jekyll/.pug-cache/


# --------------
# system
# --------------

.DS_Store


# ---------------------------------
# overrides
# ---------------------------------

!.htaccess
