---
layout: resume
title: R&eacute;sum&eacute;
description: Alessandro Di Tecco's R&eacute;sum&eacute;
---

//- [NEW] Create a conditional 'available for hire' bar

//- vars
- var currYear = 2019
- var startYear = 2011
- var since = currYear - startYear
- var encodedEmail = '&#x61;&#x6C;&#x65;&#x73;&#x73;&#x61;&#x6E;&#x64;&#x72;&#x6F;&#x40;&#x64;&#x69;&#x74;&#x65;&#x63;&#x63;&#x6F;&#x2E;&#x6D;&#x65;'

.wrapper
	.hero
		h1.hero-head R&eacute;sum&eacute;
		h4.hero-sub-head of Alessandro Di Tecco

	.container
		//- ========================
		//- quick-outline
		//- ========================
		section.quick-outline
			.outline-block.quick-outline--profile
				h2.outline-block-list-heading Profile

				ul
					li
						h3 Front-End Developer
						| I code web &amp; mobile layouts and interfaces, with modern CSS and JavaScript.
					li
						h3 Design background
						| From #{startYear} to 2016 I’ve been designing interfaces for a diverse range of digital products.
					//- li
					//- 	h3 Entrepreneurial experience
					//- 	| I've been working on my own ventures for several years, developing firsthand experience in building, selling, and maintaining a product or service.
					//- li
					//- 	h3 Product insight
					//- 	| From working in advertising to running my own business, from designing digital experiences to coding digital products, I developed an all-round vision of the product.


			.outline-block.quick-outline--skills
				h2.outline-block-list-heading Skills

				h4 Areas/Languages
				ul.skill-list
					li.skill-list-item CSS3
					li.skill-list-item Sass
					li.skill-list-item JavaScript ES6
					li.skill-list-item React
					li.skill-list-item HTML5
					li.skill-list-item UI Design

				h4 Toolbox
				ul.skill-list
					li.skill-list-item Visual Studio Code
					li.skill-list-item Sublime Text
					li.skill-list-item git
					li.skill-list-item fish shell
					li.skill-list-item Unix CLI
					li.skill-list-item Dev Tools
					li.skill-list-item npm, yarn
					li.skill-list-item gulp
					li.skill-list-item Sketch
					li.skill-list-item Adobe XD
					li.skill-list-item Photoshop
					li.skill-list-item macOS

			.outline-block.quick-outline--contact
				h2.outline-block-list-heading Contacts

				.quick-outline--contact-inner
					p The best way to get in touch with me is via good-old e-mail.
					a.cta-button.contact-button(href!='mailto:' + encodedEmail) Contact me

.wrapper
	.container
		//- ========================
		//- full-story
		//- ========================
		section.full-story
			header.section-header
				h1.section-heading
					span.underline Work experience
				p Here's a story of my professional path so far; click on a section to show/hide its contents, or #[a(href='#' id='js-toggle-all-stories' onclick='toggleAll()') click here to show all sections].

			.story-block
				header.story-block-header
					h2
						| 2018 - Present
						span.rhide &mdash;
						br.rbreak
						| Fornace
					h4 Front-End Developer

				.story-block-body
					p At Fornace, I code web &amp; mobile layouts and interfaces, with modern CSS and JavaScript; my work ranges from building small CMS-backed brochure sites to taking part in the development of large enterprise React applications. I also occasionally take care of UX/UI design for select projects.

			.story-block
				header.story-block-header
					h2
						| 2011 - 2016
						span.rhide &mdash;
						br.rbreak
						| Simplest
					h4 Freelance User Interface Designer

				.story-block-body
					p I've been designing interfaces as a freelancer since #{startYear}; starting from 2015, I decided to create my solo User Interface Design studio: I called it Simplest, to remind myself that the simplest user interfaces &amp; interactions are the building blocks of the best digital experiences.

					p Over the course of 5 years I designed a diverse range of digital products, often taking care of the full product image:

					ul
						li web-app UIs
						li mobile UIs
						li product/marketing websites
						li e-commerce
						li landing pages
						li identity, marketing visuals, banners, etc

					p Check out my complete #[a(href='/archive/simplest/') portfolio]

					p Moreover, given my past entrepreneurial experience, I developed a solid understanding of what building a product means: from design (both in the physical and digital realm) to marketing &amp; sales, pricing, admin, client acquisition, client retention, customer care, and all the daily problem-solving founders are accustomed to.

			.story-block
				header.story-block-header
					h2
						| 2013 - 2016
						span.rhide &mdash;
						br.rbreak
						| Geekville
					h4 Creator, Co-Founder, All-around Designer

				.story-block-body
					p Founded in oct. 2013, #[a(href='/archive/geekville/en/') Geekville] was a coworking space for digital and creative professionals operating in the Verona area.

					p Inspired by the coolest startup HQs, Geekville was no ordinary workplace; while providing state-of-the-art office facilities, its friendly and creative vibe encouraged socializing and knowledge sharing among coworkers.

					//- should create an archived version of GVL
					//- p Geekville also created courses and workshops under the dedicated brand #[a(href='http://www.geekvillelearning.it') &rarr; Geekville Learning]

					p Geekville also created courses and workshops under the dedicated branch Geekville Learning.

					p Credits: I founded, built and ran Geekville with the help of my business associate Francesco Adami.

			.story-block
				header.story-block-header
					h2
						| 2012 - 2013
						span.rhide &mdash;
						br.rbreak
						| The Collective
					h4 Creator, Co-Founder, All-around Designer

				.story-block-body
					p In 2012 in Verona there was no shortage of professionals and companies renting excess office space; yet, there wasn't any company whose only focus was offering young freelancers &amp; startups a place to work, for a reasonable price.

					p #[a(href='/archive/the-collective/') The Collective] was built around this exact need, and effectively filled this void as the first state-of-the-art coworking space in Verona.

					p The Collective brought a lot of people together: some of them became business partners, others just good friends. Some people elected the space as a second house, some others realized it was the right place to work on those projects they kept in a closet for too long. Others were so inspired they decided to try and build a coworking space on their own. Either way, The Collective made a lasting impact.

					p Credits: I founded, built and ran Geekville with the help of my business associate Francesco Adami.

			.story-block
				header.story-block-header
					h2
						| 2011 - 2013
						span.rhide &mdash;
						br.rbreak
						| The Digital League
					h4 Founder, All-around Designer

				.story-block-body
					p The coolest tech events in Italy, both big or small, are usually held only in major cities like Milan or Rome. I've been thinking of a way to bring them to Verona, my city, since 2009. It was only after 2 years, in 2011, that I founded #[a(href='/archive/the-digital-league/') The Digital League:] a non-profit association aiming to bring the best national/international tech &amp; digital events to Verona. By gathering people around topics such as internet culture, tehnology, startup &amp; entrepreneurship, The Digital League aimed to create a local digital community.

					p Here are its most significant achievements:

					ul
						li Founded The Collective, the first authentic coworking space in Verona;
						li Created DigitalDrink, a networking event that gave several startups the opportunity to pitch their product to a selected audience;
						li Created connections and relationships, in the form of media partnerships, with many tech conferences in Italy and abroad;
						li Contributed to Startup Weekend Verona 2012 with a paid sponsorship.

			.story-block
				header.story-block-header
					h2
						| 01-06/2011
						span.rhide &mdash;
						br.rbreak
						| Ninja Marketing
					h4 Contributing writer

				.story-block-body
					p Ninja Marketing is one of the leading Italian marketing blogs, with a focus on unconventional &amp; social media marketing.

					p As a contributor for the Startup section I wrote news and features, interviews and analysis about the Italian startup scene. #[a(href='http://www.ninjamarketing.it/author/alessandro-ditecco/') &rarr; read my posts on Ninja Marketing (Italian)]

			.story-block
				header.story-block-header
					h2
						| 04-06/2011
						span.rhide &mdash;
						br.rbreak
						| Ninja Marketing
					h4 Editor

				.story-block-body
					p The Design Section introduced a big change in NM's marketing-centric tradition; as an editor I was given the task of launching the new section, establishing an editorial line, and recruiting a team of contributors. #[a(href='http://www.ninjamarketing.it/2011/04/19/ninja-marketing-speaks-design-al-via-la-nuova-sezione-dedicata-alle-arti-visive-a-tutto-tondo/') &rarr; read my post for the launch of Ninja Marketing Design (in Italian)]

			.story-block
				header.story-block-header
					h2
						| 2010 - 2011
						span.rhide &mdash;
						br.rbreak
						| Clab Comunicazione
					h4 Copywriter

				.story-block-body
					p Clab Comunicazione is an ad agency. I worked mainly as a Copywriter, but I was also in charge of everything digital -- websites, online adv, etc -- both from a design &amp; management standpoint.

			.story-block
				header.story-block-header
					h2
						| 2007 - 2009
						span.rhide &mdash;
						br.rbreak
						| BCF
					h4 Copywriter

				.story-block-body
					p BCF is an advertising agency &amp; industrial design studio with 30+ years of experience. I worked mainly as a Copywriter, but also did a number of other things such as pitching creative projects to top agency clients and managing digital projects.

			hr.separator

			header.section-header
				h1.section-heading
					span.underline Other experiences

			.story-block
				header.story-block-header
					h2
						| 03-05/2014
						span.rhide &mdash;
						br.rbreak
						| Behance Portfolio Reviews
					h4 Organizer

				.story-block-body
					p I was the lead organizer of Behance Portfolio Reviews Verona 2014, for the first time ever in the city.

					p Behance Portfolio Review is a networking event aimed specifically at creatives, with the purpose of promoting the practice of design critique.

					p As an organizer, I took care of:

					ul
						li Marketing the event;
						li Selling tickets;
						li Preparing the event location (before &amp; after the event);
						li Running the event;
						li Communicating with Behance HQ in US.

					p Credits: a big help for recruiting Special Guests and Review Leaders came from Stefano Torregrossa &amp; Matteo Cuccato, who leveraged their personal and professional network for the cause.

			.story-block
				header.story-block-header
					h2
						| 04/2013
						span.rhide &mdash;
						br.rbreak
						| Startup Weekend
					h4 Coach

				.story-block-body
					p In april 2013, #[a(href='http://www.h-farmventures.com/en/') H-Farm] (one of the top italian startup accelerators) organized and hosted #[a(href='https://web.archive.org/web/20131115072955/http://venice.startupweekend.org/') Startup Weekend Venice 2013;] I was invited to join the event as a Coach.

					p The role of Coaches in Startup Weekend's formula is an important one: a Coach is basically an expert in his field &mdash; in my case, UI Design &amp; Logo Design &mdash; who follows each team and contributes with his knowledge.

			.story-block
				header.story-block-header
					h2
						| 10-12/2012
						span.rhide &mdash;
						br.rbreak
						| Startup Weekend
					h4 Organizer

				.story-block-body
					p I was one of the 3-people-team who organized #[a(href='https://web.archive.org/web/20121217072032/http://verona.startupweekend.org/') Startup Weekend Verona 2012,] for the first time ever in the city.

					p Organizing a Startup Weekend is no easy task: it involves a lot of planning and the ability to wear many different hats:

					ol
						li Finding sponsors;
						li Recruiting Coaches and Jury members;
						li Marketing the event;
						li Doing PR for the event;
						li Selling tickets and providing customer service;
						li Preparing the event location (before &amp; after the event);
						li Running the event, &amp; making sure it follows the planned schedule;
						li Assigning prizes, and communicating with the sponsors who make them available;
						li Doing admin work (collecting payments, invoicing, etc);
						li Constantly communicating with Startup Weekend HQ in US.

					p I worked mostly in areas 02, 03, 05, 06, 08.

					p I also created the event identity: #[a(href='/archive/simplest/work/startup-weekend-verona/') &rarr; Startup Weekend Verona 2012]

					p Thanks to the work of everyone involved the event was a success, with 120+ attendees.

script
	const toggleAll = () => {
		const t = $('.story-block-header');

		for (const el of t) {
			$(el).next().slideToggle();
		}
	}
