---
layout: resume
title: R&eacute;sum&eacute;
description: Alessandro Di Tecco's R&eacute;sum&eacute;
---

//- [NEW] Create a conditional 'available for hire' bar

//- vars
- var currYear = 2017
- var startYear = 2011
- var since = currYear - startYear
- var encodedEmail = '&#x61;&#x6C;&#x65;&#x73;&#x73;&#x61;&#x6E;&#x64;&#x72;&#x6F;&#x40;&#x64;&#x69;&#x74;&#x65;&#x63;&#x63;&#x6F;&#x2E;&#x6D;&#x65;'

.wrapper
	.hero
		h1.hero-head R&eacute;sum&eacute;
		h4.hero-sub-head of Alessandro Di Tecco

	.container
		//- ========================
		//- quick-outline
		//- ========================
		section.quick-outline
			header.section-header
				h1.section-heading
					span.underline Quick outline

			.outline-block.quick-outline--profile
				h2.outline-block-list-heading Profile
				ul
					li
						h3.list-heading Front-End Web Designer
						p Since #{startYear}, I’ve been designing interfaces for a diverse range of digital products. I can deliver high-fidelity mockups or HTML/CSS/JS. #[sup.supertext new!]
					li
						h3.list-heading Entrepreneurial experience
						p In the past #{since} years I've been working on my own ventures, developing firsthand experience in building, selling, and maintaining a product or service.

			.outline-block.quick-outline--skills
				h2.outline-block-list-heading Skills

				h3.list-heading Areas/Languages
				ul.skill-list
					li.skill-list-item UI Design
					li.skill-list-item HTML5
					li.skill-list-item CSS3
					li.skill-list-item JavaScript
					li.skill-list-item pug
					li.skill-list-item Markdown
					li.skill-list-item Sass
					li.skill-list-item jQuery
					li.skill-list-item ES6
					li.skill-list-item React

				h3.list-heading Toolbox
				ul.skill-list
					li.skill-list-item Sublime Text
					li.skill-list-item Emmet
					li.skill-list-item npm, Yarn
					li.skill-list-item gulp
					li.skill-list-item Bootstrap
					li.skill-list-item Jekyll, SSGs
					li.skill-list-item git
					li.skill-list-item Unix CLI
					li.skill-list-item Firefox Dev Tools
					li.skill-list-item Sketch
					li.skill-list-item Photoshop
					li.skill-list-item macOS

			.outline-block.quick-outline--contact
				h2.outline-block-list-heading Contact info
				.quick-outline--contact-inner
					p The best way to get in touch with me is via good-old e-mail.
					a.cta-button.contact-button(href!='mailto:' + encodedEmail) Contact me

.wrapper
	.container
		//- ========================
		//- full-story
		//- ========================
		section.full-story
			header.section-header
				h1.section-heading
					| The full story
					span.special-char *
				p
					span.special-char *
					|  What follows is a story of my professional path so far; click on a section to show/hide its contents.
					//- WIP
					//- br
					//- | Click on a section to show its contents, or #[a(href='#', class='toggle-all-switch') expand all sections]

			.story-block
				header.story-block-header
					h2
						| 2011 - #{currYear}
						span.rhide &mdash;
						br.rbreak
						| Simplest
					h4 Freelance User Interface Designer

				.story-block-body
					p I've been designing interfaces as a freelancer since 2011; starting from 2015, I decided to create my solo User Interface Design studio: I called it Simplest, to remind myself that the simplest user interfaces &amp; interactions are the building blocks of the best digital experiences.

					p Over the past #{since} years I designed a diverse range of digital products, often taking care of the full product image, from identity to marketing visuals: subscription e-commerce sites, highly detailed web apps, multi-platform apps, &amp; more. #[a(href='http://www.simplest.io/?ref=dtc-resume', target='_blank') &rarr; check out my works]

					p Moreover, given my past entrepreneurial experience in building and managing a coworking space, I developed a solid understanding of what building a product means: from design (both in the physical and digital realm) to marketing &amp; sales, pricing, admin, client acquisition, client retention, customer care, and all the daily problem-solving founders are accustomed to.
					//- try adding a small separator after each block
				//- .story-block-footer

			.story-block
				header.story-block-header
					h2
						| 2013 - 2016
						span.rhide &mdash;
						br.rbreak
						| Geekville
					h4 Creator, Co-Founder, All-around Designer

				.story-block-body
					p Founded in oct. 2013, #[a(href='/archive/geekville/en/', target='_blank') Geekville] was a coworking space for digital and creative professionals operating in the Verona area.

					p Inspired by the coolest startup HQs, Geekville was no ordinary workplace; while providing state-of-the-art office facilities, its friendly and creative vibe encouraged socializing and knowledge sharing among coworkers.

					//- should create an archived version of GVL
					//- p Geekville also created courses and workshops under the dedicated brand #[a(href='http://www.geekvillelearning.it', target='_blank') &rarr; Geekville Learning]

					p Geekville also created courses and workshops under the dedicated brand Geekville Learning.

					p Credits: I founded, built and ran Geekville with the help of my business associate Francesco Adami.

			.story-block
				header.story-block-header
					h2
						| 2012 - 2013
						span.rhide &mdash;
						br.rbreak
						| The Collective
					h4 Creator, Co-Founder, All-around Designer

				.story-block-body
					p In 2012 in Verona there weren't any significant coworking spaces; sure, there were plenty of professionals &amp; companies with more office space than they needed, who rented their spare rooms making some cash in the process: but I call this subletting, not coworking.

					p So, there wasn't any company whose only focus was offering young professionals &amp; startups a place to work, for a reasonable price. #[a(href='/archive/the-collective/', target='_blank') The Collective] was built around this exact need, and effectively filled this void as the first state-of-the-art coworking space in Verona.

					p During its life span The Collective brought a lot of people together: some of them became business partners, others just good friends. Some people elected the space as a second house, some others realized it was the right place to work on those projects they kept in a closet for too long. Others were so inspired they decided to try and build a coworking space on their own. Either way, The Collective made a lasting impact.

					p Credits: a big help in building and running The Collective came from my business associate Francesco Adami.

			.story-block
				header.story-block-header
					h2
						| 2011 - 2013
						span.rhide &mdash;
						br.rbreak
						| The Digital League
					h4 Founder, All-around Designer

				.story-block-body
					p The coolest tech events in Italy, both big or small, are usually held only in major cities like Milan or Rome. I've been thinking of a way to bring them to Verona, my city, since 2009. It was only after 2 years, in 2011, that I founded #[a(href='/archive/the-digital-league/', target='_blank') The Digital League:] a non-profit association aiming to bring the best national/international tech &amp; digital events to Verona. By gathering people around topics such as internet culture, tehnology, startup &amp; entrepreneurship, The Digital League aimed to create a local digital community.

					p Here are its most significant achievements:

					ul
						li Founded The Collective, the first authentic coworking space in Verona;
						li Created DigitalDrink, a networking event that gave several startups the opportunity to pitch their product to a selected audience;
						li Created connections and relationships, in the form of media partnerships, with many tech conferences in Italy and abroad;
						li Contributed to Startup Weekend Verona 2012 with a paid sponsorship.

			.story-block
				header.story-block-header
					h2
						| 01-06/2011
						span.rhide &mdash;
						br.rbreak
						| Ninja Marketing
					h4 Contributing writer

				.story-block-body
					p Ninja Marketing is one of the leading Italian marketing blogs, with a focus on unconventional &amp; social media marketing.

					p As a contributor for the Startup section I wrote news and features, interviews and analysis about the Italian startup scene. #[a(href='http://www.ninjamarketing.it/author/alessandro-ditecco/', target='_blank') &rarr; read my posts on Ninja Marketing (Italian)]

			.story-block
				header.story-block-header
					h2
						| 04-06/2011
						span.rhide &mdash;
						br.rbreak
						| Ninja Marketing
					h4 Editor

				.story-block-body
					p The Design Section introduced a big change in NM's marketing-centric tradition; as an editor I was given the task of launching the new section, establishing an editorial line, and recruiting a team of contributors. #[a(href='http://www.ninjamarketing.it/2011/04/19/ninja-marketing-speaks-design-al-via-la-nuova-sezione-dedicata-alle-arti-visive-a-tutto-tondo/', target='_blank') &rarr; read my post for the launch of Ninja Marketing Design (in Italian)]

			.story-block
				header.story-block-header
					h2
						| 2010 - 2011
						span.rhide &mdash;
						br.rbreak
						| Clab Comunicazione
					h4 Copywriter

				.story-block-body
					p Clab Comunicazione is an ad agency. I worked mainly as a Copywriter, but I was also in charge of everything digital -- websites, online adv, etc -- both from a design &amp; management standpoint.

			.story-block
				header.story-block-header
					h2
						| 2007 - 2009
						span.rhide &mdash;
						br.rbreak
						| BCF
					h4 Copywriter

				.story-block-body
					p BCF is an advertising agency &amp; industrial design studio with 30+ years of experience. I worked mainly as a Copywriter, but also did a number of other things such as pitching creative projects to top agency clients and managing digital projects.

			hr.section-separator

			header.section-header
				h1.section-heading Other experiences

			.story-block
				header.story-block-header
					h2
						| 03-05/2014
						span.rhide &mdash;
						br.rbreak
						| Behance Portfolio Reviews
					h4 Organizer

				.story-block-body
					p I was the lead organizer of #[a(href='http://www.geekvillelearning.it/offerta-formativa/behance-portfolio-review-verona/', target='_blank') Behance Portfolio Reviews Verona 2014,] for the first time ever in the city.

					p Behance Portfolio Review is a networking event aimed specifically at creatives, with the purpose of promoting the practice of design critique.

					p As an organizer, I took care of:

					ul
						li Marketing the event;
						li Selling tickets;
						li Preparing the event location (before &amp; after the event);
						li Running the event;
						li Communicating with Behance HQ in US.

					p Credits: a big help for recruiting Special Guests and Review Leaders came from Stefano Torregrossa &amp; Matteo Cuccato, who leveraged their personal and professional network for the cause.

			.story-block
				header.story-block-header
					h2
						| 04/2013
						span.rhide &mdash;
						br.rbreak
						| Startup Weekend
					h4 Coach

				.story-block-body
					p In april 2013, #[a(href='https://web.archive.org/web/20131115072955/http://venice.startupweekend.org/', target='_blank') H-Farm](http://www.h-farmventures.com/en/) (one of the top italian startup accelerators) organized and hosted [Startup Weekend Venice 2013;] I was invited to join the event as a Coach.

					p The role of Coaches in Startup Weekend's formula is an important one: a Coach is basically an expert in his field &mdash; in my case, UI Design &amp; Logo Design &mdash; who follows each team and contributes with his knowledge.

			.story-block
				header.story-block-header
					h2
						| 10-12/2012
						span.rhide &mdash;
						br.rbreak
						| Startup Weekend
					h4 Organizer

				.story-block-body
					p I was one of the 3-people-team who organized #[a(href='https://web.archive.org/web/20121217072032/http://verona.startupweekend.org/', target='_blank') Startup Weekend Verona 2012,] for the first time ever in the city.

					p Organizing a Startup Weekend is no easy task: it involves a lot of planning and the ability to wear many different hats:

					ol
						li Finding sponsors;
						li Recruiting Coaches and Jury members;
						li Marketing the event;
						li Doing PR for the event;
						li Selling tickets and providing customer service;
						li Preparing the event location (before &amp; after the event);
						li Running the event, &amp; making sure it follows the planned schedule;
						li Assigning prizes, and communicating with the sponsors who make them available;
						li Doing admin work (collecting payments, invoicing, etc);
						li Constantly communicating with Startup Weekend HQ in US.

					p I worked mostly in areas 02, 03, 05, 06, 08.

					p I also created the event identity: #[a(href='http://www.simplest.io/work/startup-weekend-verona.html?ref=dtc-resume', target='_blank') &rarr; Startup Weekend Verona 2012 on Simplest]

					p Thanks to the work of everyone involved the event was a success, with 120+ attendees.
