---


---

doctype
html
	head
		//- check contents against this: https://github.com/joshbuchea/HEAD
		//- for unicode chars
		//- https://stackoverflow.com/questions/1696619/displaying-unicode-symbols-in-html
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name="description" content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href='http://fonts.googleapis.com/css?family=Karla|Trocchi', rel='stylesheet', type='text/css')
		//- link(rel="stylesheet", href="/blog/css/dtc-blog-post.css")
		link(rel="stylesheet", href="css/testPost.css")
		title Blog post
	body
		nav.blog-post-nav
			ul
				li
					a(href="/index.html", class='button-link button-nav') &#8592; Back

		main
			article.blog-post
				header.blog-post-header
					.blog-post-header-text
						h1.blog-post-title Adding A Second External Display To An Early 2011 Macbook Pro
						h4.blog-post-subtitle
						h5.blog-post-timestamp Wednesday, 22 november 2017
						ul.blog-post-meta
							//- use an ::after
							li Alessandro Di Tecco &middot;
							li 999 chars &middot;
							li
								span.blog-post-tag tagName
					img.blog-post-header-img(src='img/testImg.jpg')
				.blog-post-body
					p When the news hit that #[a(href='#') Netflix was coming to Italy,] as a tech early adopter and a heavy movie & TV-Show watcher I was eager to try it: I subscribed on launch day.

					pre
						code
							| cd ~ && ls -alh && du -h ./

					p
						| My expectations though, were pretty high: I was hoping for a 'Spotify for TV Shows', a single VOD service to rule them all, with a comprehensive and diverse catalogue.
						| But when I tried searching for some of my favourite shows [^1] I had to realize things were going to be very different.
						code.inline-code var myVar = 'lorem';

					hr

					h3 Netflix excels in:

					ul
						li Technical superiority &amp; performance #[a(href='#') they even built a custom CDN!]
						li Original content: 'Netflix originals' are always interesting, they span very different genres, and they sometimes reach the status of masterpiece.

					blockquote
						| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam vitae dui.

					h3 Netflix isn't that great in:

					ul
						li Classic cinema, #[strong Auteur cinema], rare movies are practically non-existent;
						li The selection of TV shows is very narrow, #[code with many] major titles missing;
						li New content is added at a slow pace, and the user has a hard time finding it (must actively look for it);
						li The catalougue 'feels' small.

					p Yet, a discovery I made yesterday proved once again how #[span(class='highlighted') Netflix Originals are a powerful weapon] in the hands of the company.

				.blog-post-footer
					.blog-post-notes
					ul.blog-post-cta
						li.blog-post-cta-block
							a(href='https://twitter.com/intent/tweet?text=Check+out+this+post+on+http://ditecco.me&via=aditecco', target='_blank', class='blog-post-cta-button') Tweet this post
						li.blog-post-cta-block
							a(href='https://twitter.com/intent/follow?screen_name=aditecco', target='_blank', class='blog-post-cta-button') Follow @aditecco on Twitter

		footer
			small All content &copy; 2017 Alessandro Di Tecco

		script(type="text/javascript", async src="//platform.twitter.com/widgets.js")
