/* ---------------------------------
.ContentIndex
--------------------------------- */

@import "../../styles/dtc-logic";

// text-align center should be the default in this layout
// look for other frequently repeated rules

body {
  // @extend %setBody;
  // store in var or find a declared color
  background-color: #f4f5f2;
}

.ContentIndex {
  // common
  * {
    @extend %setBorderBox;
  }

  a {
    @extend %resetAnchors;
  }

  //
  .index-nav,
  main,
  .index-footer {
    // font-size: emCalc(16);
  }

  // main
  main {
    flex-grow: 1;
  }

  // .index-nav
  .index-nav {
    @include setFonts(16, "Roboto", $font-color-bright);
    font-size: inherit;
    background-color: $accent-bright;
    @include setBorder(1px, solid, rgba($utility-dark-gray, 0.35), bottom);
    ul {
      // translate
      @include resetBox($pad: 10px 15px, $mar: 0, $isList: true);
      li {
        a {
          display: inline-block;
          // tr
          padding: 0.5em;
          border: 2px solid transparent;
          // override
          // font-size: 95%;
          color: inherit;
          &:hover {
            border: 2px solid white;
            border-radius: 4px;
            color: white;
          }
        }
      }
    }
  }

  // .index-hero
  .index-hero {
    // tr
    padding: 2.5em 15px;
    background-color: $accent-bright;
    h1 {
      margin: 0;
      @include setFonts(28, "Montserrat", $font-color-bright, center, 400);
      // include in mixin?
      font-size: 2em;
    }
  }

  // .index-item-list
  .index-item-list {
    @include resetBox(0, 0 0 1em, true);
    .index-item {
      @include setBorder(1px, dashed, $utility-light-gray, bottom);
      transition: background-color 0.6s ease;
      &:hover {
        background-color: $background-bright;
      }
      a {
        cursor: pointer;
        .index-item-inner {
          @include setFlexbox(column nowrap, center, center);
          // tr
          min-height: 160px;
          // tr
          padding: 15px;
          // tr
          .index-item-timestamp,
          .index-item-title {
            margin: 0 0 0.8em;
          }
          // redundant rules
          .index-item-title {
            @include setFonts(
              20,
              "Montserrat",
              $utility-dark-gray,
              center,
              400
            );
            // remove
            font-size: 1.25em;
            text-transform: capitalize;
          }
          .index-item-timestamp {
            @include setFonts(16, "Roboto", $utility-light-gray, center, 400);
            // remove
            font-size: 1em;
          }
          .index-item-tag {
            // check, tr, normalize
            // using the same tag as the one used in homepage
            // make this into a component and store in separate file (?)
            padding: 0.2em 1em;
            border: 2px solid $utility-light-gray;
            border-radius: 20px;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 0.9em;
            letter-spacing: 0.025em;
            text-transform: uppercase;
            color: $utility-light-gray;
          }
        }
      }
    }
  }
}
