/* ---------------------------------
.ContentIndex
--------------------------------- */

@import "../../styles/_logic";

.ContentIndex {
  // custom page bg
  background-color: $background-bright-03;

  + footer {
    background-color: $background-bright-03;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 -2px 30px rgba(black, 0.09);
  }

  text-align: center;

  a {
    @extend %resetAnchors;
  }

  // .index-nav
  .index-nav {
    @include setFonts(16, "Roboto", $font-color-bright);
    font-size: inherit;
    background-color: $accent-bright;
    @include setBorder(1px, solid, rgba($utility-dark-gray, 0.35), bottom);

    ul {
      // translate
      @include resetBox($pad: 14px 20px, $mar: 0, $isList: true);
    }
  }

  // .index-hero
  .index-hero {
    // tr
    padding: 2.5em 15px;
    background-color: $accent-bright;
    h1 {
      margin: 0;
      @include setFonts(28, "Montserrat", $font-color-bright, center, 400);
      // include in mixin?
      font-size: 2em;
    }
  }

  // .index-item-list
  .index-item-list {
    @include resetBox(0, 0, true);
    .index-item {
      @include setBorder(1px, dashed, $utility-light-gray, bottom);
      transition: background-color 0.6s ease;
      &:hover {
        background-color: $background-bright;
      }
      a {
        cursor: pointer;
        .index-item-inner {
          @include setFlexbox(column nowrap, center, center);
          // tr
          min-height: 160px;
          // tr
          padding: 15px;
          // tr
          .index-item-timestamp,
          .index-item-title {
            margin: 0 0 0.8em;
          }

          // redundant rules
          .index-item-title {
            @include setFonts(
              20,
              "Montserrat",
              $utility-dark-gray,
              center,
              400
            );
            // remove
            font-size: 1.25em;
            text-transform: capitalize;
          }

          .index-item-timestamp {
            @include setFonts(16, "Roboto", $utility-light-gray, center, 400);
            // remove
            font-size: 1em;
          }

          .index-item-tag-list {
            // check, tr, normalize
            // using the same tag as the one used in homepage
            // make this into a component and store in separate file (?)
            @include resetBox(0, 0, true);

            .index-item-tag {
              display: inline-block;
              padding: 0.2em 1em;
              border: 2px solid $utility-light-gray;
              border-radius: 20px;
              font-family: "Montserrat", sans-serif;
              font-weight: 400;
              font-size: 0.9em;
              letter-spacing: 0.025em;
              text-transform: uppercase;
              color: $utility-light-gray;

              + .index-item-tag {
                margin-left: 6px;
              }
            }
          }
        }
      }
    }
  }
}
