
/* ========================
_dtc-blog-logic.scss
======================== */
// should be renamed to: _dtc-sass-logic.scss

/* ---------------------------------
imports
--------------------------------- */

@import '_flat-ui-colors';


/* ---------------------------------
vars
--------------------------------- */

// debugging
$debugMode: false;

* {
	@if $debugMode { outline: 1px solid $purple; }
}


// color vars
// $accent-dark: ;
$accent-bright: #1abc9c;
// $background-dark: ;
$background-bright: $clouds;
$background-bright-secondary: #f3f0eb;
$utility-light-gray: #ccc;
$utility-dark-gray: #555;
$utility-highlight: rgba(255, 208, 16, 0.5);
// $cta-primary: ;
// $cta-secondary: ;


// typography vars
$heading-font: 'Trocchi', serif;
$base-font: 'Karla', sans-serif;
$system-font: 'Helvetica, Arial', sans-serif;
$font-color-dark: $gunMetal;
$font-color-bright: $paper;
$font-color-secondary: $silver;


/* ---------------------------------
resets & placeholders
--------------------------------- */

%setBorderBox { box-sizing: border-box; }

%setBody {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	font-size: 62.5%;
}

// % { flex-grow: 1; }

%specialTextPad {
	padding: .1em .2em;
}

%resetAnchors {
	text-decoration: none;
}


/* ---------------------------------
functions & mixins
--------------------------------- */

@function emCalc($target, $context: 10) {
	// ref: https://stackoverflow.com/questions/13905407/append-unit-type-to-the-result-of-a-calculation
	@return ($target / $context) * 1em;
}

// reset margin and padding
// should rename this to 'setBox',
// and include emCalc()
@mixin resetBox($pad: 0, $mar: 0, $isList: false) {
	padding: $pad;
	margin: $mar;
	@if $isList {
		list-style: none;
	}
}

@mixin setBorder(
	$width,
	$style,
	$color,
	$side: '',
	$radius: 0
) {
	border#{'-' + $side}: $width $style $color;
	@if $radius != 0 {
		border-radius: $radius;
	}
}

// set font properties
// add line-height
// add default font-size?
@mixin setFonts(
	$size,
	$family: $base-font,
	$color: $font-color-dark,
	$alignment: left,
	$weight: 400
) {
	font-family: $family;
	font-weight: $weight;
	font-size: emCalc($size);
	text-align: $alignment;
	color: $color;
}

// set flexbox properties
@mixin setFlexbox($flow, $justify, $align) {
	display: flex;
	flex-flow: $flow;
	justify-content: $justify;
	align-items: $align;
}
