
.tag {
	display: inline-block;
	width: auto;
	margin: 1em auto;
	padding: 0.1em 0.6em;
	font-size: 0.75em;
	text-transform: uppercase;
	color: #A9A9A9;
	border: 2px solid #A9A9A9;
	border-radius: 4px;
	vertical-align: 6.5%;
}

.tag.design {
	color: #1E90FF;
	border: 2px solid #1E90FF;
}
