
/* ========================
dtc-dir-index.scss
======================== */


/* ---------------------------------
imports
--------------------------------- */
@import '_dtc-blog-logic.scss';


/* ---------------------------------
rules
--------------------------------- */

// common
* { @extend %setBorderBox; }

a { @extend %resetAnchors; }

body {
	@extend %setBody;
	// store in var or find a declared color
	background-color: #f4f5f2;
}


//
.index-nav,
main,
.index-footer {
	font-size: emCalc(16);
}


// main
main { flex-grow: 1; }


// .index-nav
.index-nav {
	// height: emCalc(60, 16);
	// store in var
	// border-bottom: 1px solid #10a184;
	// font-family: 'Roboto', sans-serif;
	// color: $font-color-bright;
	@include setFonts(16, 'Roboto', $font-color-bright);
	background-color: $accent-bright;
	@include setBorder(1px, solid, rgba($utility-dark-gray, .35), bottom);
	ul {
		// @include resetBox(0, 0, true);
		// translate
		padding: 10px 15px;
		// mixin?
		margin: 0;
		list-style: none;
		li {
			// text-transform: uppercase;
			a {
				// translate
				display: inline-block;
				// tr
				padding: .5em;
				border: 2px solid transparent;
				// override
				font-size: 95%;
				color: inherit;
				// padding: emCalc(10, 16);
				&:hover {
					border: 2px solid white;
					border-radius: 4px;
				}
			}
		}
	}
}


// .index-hero
.index-hero {
	// height: emCalc(180, 16);
	// padding: emCalc(20, 16);
	// tr
	padding: 2.5em 15px;
	background-color: $accent-bright;
	h1 {
		margin: 0;
		@include setFonts(28, 'Montserrat', $font-color-bright, center, 400);
		// include in mixin?
		font-size: 2em;
	}

}


// .index-item-list
.index-item-list {
	@include resetBox(0, 0, true);
	.index-item {
		@include setBorder(1px, dashed, $utility-light-gray, bottom);
		// background-color: $background-bright;
		transition: background-color 0.6s ease;
		&:last-child { margin-bottom: 1em; }
		&:hover { background-color: $background-bright; }
		a {
			cursor: pointer;
			.index-item-inner {
				// space-evenly seems to break w/ long titles
				@include setFlexbox(column nowrap, center, center);
				// tr
				min-height: 160px;
				// tr
				padding: 15px;
				// & > * { margin: 0 0 emCalc(10, 16); }
				// no need if we use flexbox space-evenly
				// tr
				.index-item-timestamp,
				.index-item-title { margin: 0 0 .8em; }
				// redundant rules
				.index-item-title {
					@include setFonts(20, 'Montserrat', $utility-dark-gray, center, 400);
					// remove
					font-size: 1.25em;
					text-transform: capitalize;
				}
				.index-item-timestamp  {
					@include setFonts(16, 'Roboto', $utility-light-gray, center, 400);
					// remove
					font-size: 1em;
				}
				.index-item-tag {
					// tr
					// padding: 0.1em 0.6em;
					// var
					// color: $alizarin;
					// var
					// border: 2px solid $alizarin;
					// border-radius: 4px;
					// check, tr, normalize
					// using the same tag as the one used in homepage
					// make this into a component and store in separate file (?)
					padding: 0.2em 1em;
					border: 2px solid $utility-light-gray;
					border-radius: 20px;
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
					font-size: 0.9em;
					letter-spacing: 0.025em;
					text-transform: uppercase;
					color: $utility-light-gray;
				}
			}
		}
	}
}


// .index-footer
.index-footer {
	// tr
	padding: .5em;
	font-size: emCalc(16);
	text-align: center;
}














