/* ========================
_dtc-colors-typography.scss
======================== */

/* ---------------------------------
imports
--------------------------------- */

@import "_flat-ui-colors";

/* ---------------------------------
homepage, common
--------------------------------- */
/*
	colors
*/ // $accent-dark: ;
$accent-bright: #1abc9c;

// $background-dark: ;
$background-bright: $clouds;
$background-bright-secondary: #f3f0eb;
$background-bright-03: #f4f5f2;

$utility-dim-white: #f1f1f1;
$utility-light-gray: #ccc;
$utility-dark-gray: #555;
$utility-highlight: rgba(255, 208, 16, 0.5);
$cta-primary: $accent-bright;
// $cta-secondary: ;

/*
	typography
*/

$heading-font: "Trocchi", serif;
$base-font: "Karla", sans-serif;
$system-font: "Helvetica, Arial", sans-serif;
$font-color-dark: $gunMetal;
$font-color-bright: $paper;
$font-color-secondary: $silver;

/* ---------------------------------
resume
--------------------------------- */

/*
	colors
*/

$rm-background-page-outer: #f7ece1;
$rm-background-page-inner: #f2f2f2;
$rm-accent-bright: #00a0b0;
