/* ---------------------------------
ITakePictures
--------------------------------- */

@import "./logic";

.ITakePictures {
  ::-moz-selection {
    background-color: #000;
  }

  ::selection {
    background-color: #000;
  }

  .mobileToggle {
    display: none;

    @media screen and (max-width: 425px) {
      display: block;
    }
  }

  .wrapper {
    font-family: MONOSPACE;
    color: #444;
    background-color: #111;
  }

  .header {
    padding: rel(20) rel(30);
    text-align: center;
    font-weight: 400;

    .accent {
      @include container(20px);
      border-top: 4px solid gold;
    }

    .heading {
      > * {
        font-weight: inherit;
        line-height: 1.75;
      }

      .title {
        font-size: rel(21);
        color: #f1f1f1;
        letter-spacing: rel(2);
        margin: 0 0 rel(6);

        &::before {
          $w: 250px;

          content: "";
          position: fixed;
          top: 0;
          left: calc(50% - (#{$w} / 2));
          width: $w;
          border-top: 3px solid gold;
          z-index: 0;
        }
      }

      .subtitle {
        font-size: rel(15);
        color: #777;
        text-transform: lowercase;
        margin: 0;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #111;
    margin: 0;
    padding: 0;
  }

  .module {
    width: 100%;
    height: 480px;
    flex-grow: 1;
    background-color: #111;
    overflow: hidden;
    position: relative;
    border: 1px solid #000;

    &.full {
      max-width: 960px;
      flex-grow: 2;
    }

    &.half {
      max-width: 480px;
    }
  }

  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.25);

    span {
      display: block;
      padding: rel(12) rel(6) rel(12) rel(16);
      border-left: 3px solid gold;
      text-transform: capitalize;
      font-size: rel(14);
    }
  }

  @media screen and (max-width: 960px) {
    .module {
      height: auto;
    }
  }
}
