---
# Front matter is needed in main files for SCSS > CSS conversion!
---

/* ========================
dtc-blog-post.scss
======================== */


/* ---------------------------------
imports
--------------------------------- */

@import '_normalize';
@import '_dtc-blog-logic';


/* ---------------------------------
common
--------------------------------- */

// setting `border-box`
* { box-sizing: border-box; }

// setting the global `font-size` at 10px
// for em calculations in base 10
body {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	font-size: 62.5%;
}


/* ---------------------------------
rules
--------------------------------- */

// .blog-post-nav
.blog-post-nav {
	// avoid unique colors
	background-color: $asphalt;
	border-bottom: 1px solid darken($asphalt, 10%);
	ul {
		@include resetBox(1em, 0, true);
		.button-nav {
			font-size: emCalc(14);
			color: $font-color-bright;
			@extend %resetAnchors;
			&:hover { @include setBorder(2px, solid, $font-color-bright, bottom); }
		}
	}
}


// main
main { flex-grow: 1; }


// .container
.container {
	@media(min-width: 760px) {
		width: 700px;
		margin: 0 auto;
	}
}


// .blog-post
$blog-post-header-height: emCalc(440);

.blog-post {
	position: relative;
	margin-bottom: emCalc(40);
	// move font-size from .blog-post-body here?
	.blog-post-header {
		position: absolute;
		z-index: 999;
		width: 100%;
		height: $blog-post-header-height;
		background-color: rgba(black, .55);
		.blog-post-header-text {
			@include setFlexbox(column nowrap, flex-end, flex-start);
			height: 100%;
			padding: emCalc(20);
			color: $paper;
			.blog-post-title,
			.blog-post-timestamp,
			.blog-post-author { margin: 0 0 emCalc(15); }
			.blog-post-title {
				margin-bottom: emCalc(5);
				@include setFonts(32, $heading-font, $font-color-bright);
				// check this breakpoint
				@media(min-width: 650px) {
					// 45?
					font-size: emCalc(40);
				}
			}
			.blog-post-timestamp,
			.blog-post-author {
				@include setFonts((16 * 0.8), $system-font, $font-color-secondary);
				text-shadow: 0 2px 4px rgba(black, .55);
			}
			// include timestamp & author?
			.blog-post-meta {
				@include setFlexbox(row nowrap, flex-start, center);
				width: 100%;
				@include resetBox(0, 0, true);
				@include setFonts((16 * 0.8), $system-font, $font-color-bright);
				// can we manage spacing via flexbox?
				li {
					margin-right: 5px;
					// watch out for text encoding errors!
					// &::after { content: '·'; }
					&:last-child { margin-right: 0; }
				}
				.blog-post-tag {
					padding: emCalc(4) emCalc(8);
					border: 2px solid $accent-bright;
					border-radius: 16px;
				}
			}
		}
	}
	.blog-post-header-img-container {
		@include setFlexbox(column nowrap, center, center);
		height: $blog-post-header-height;
		margin-bottom: emCalc(20);
		overflow: hidden;
		background: radial-gradient(at top left, #444, $utility-dark-gray);
		& > img { min-width: 100%; }
	}
	.blog-post-body {
		padding: 0 emCalc(20, 16) 0;
		@include setFonts(16, $base-font, $utility-dark-gray);
		// verify
		line-height: 1.7;
		& > * { margin: 0 0 emCalc(10); }


		/* ---------------------------------
		headings
		--------------------------------- */
		h2, h3, h4, h5, h6 {
			font-family: $heading-font;
			// forcing the weight, otherwise normalize.css
			// would override the font-weight of .blog-post-body
			font-weight: 400;
			// need to fix the margin-bottom, computed ad 22px
		}
		// the context for emCalc is 16!
		// that is, the font-size of .blog-post-body
		h2 { font-size: emCalc(28, 16); }
		h3 { font-size: emCalc(22, 16); }
		h4 { font-size: emCalc(18, 16); }
		h5 { font-size: emCalc(16, 16); }
		h6 { font-size: emCalc(14, 16); }


		/* ---------------------------------
		lists
		--------------------------------- */
		ul, ol {
			// should normalize emCalc() calls w/ the appropriate context of 16px
			padding: emCalc(10) emCalc(20);
			@include setBorder(3px, solid, $utility-highlight, left);
			background-color: rgba($utility-highlight, .15);
			li {
				margin-bottom: emCalc(10);
				@include setBorder(1px, dotted, rgba($utility-dark-gray, .25), bottom);
				&:last-child {
					margin-bottom: 0;
					border: none;
				}
				&::marker { color: white; }
				// style links
				a {
					border: none;
					color: black;
				}
			}
		}
		ul { list-style: circle; }


		/* ---------------------------------
		fx
		--------------------------------- */
		&::selection {
			background: $utility-dark-gray;
			color: white;
		}
		.highlighted {
			@extend %specialTextPad;
			background-color: $utility-highlight;
		}
		em {}
		strong { color: $utility-dark-gray; }


		/* ---------------------------------
		special txt
		--------------------------------- */
		pre {
			padding: emCalc(20) emCalc(10);
			@include setBorder(3px, solid, $accent-bright, left);
			background-color: rgba($utility-light-gray, .25);
			tab-size: 2;
			line-height: 1.5em;
			white-space: pre-wrap;
		}
		code.inline-code {
			@extend %specialTextPad;
			background-color: rgba($utility-light-gray, .25);
			border-radius: 3px;
			font-size: 0.9em;
		}
		blockquote {
			// force overriding of browser styles
			margin: 0 0 emCalc(10);
			padding: emCalc(8);
			@include setBorder(3px, solid, $accent-bright, left);
			font-style: italic;
			&::before, &::after {
				content: '" ';
				font-size: emCalc(14);
				color: $utility-light-gray;
			}
		}


		/* ---------------------------------
		links
		--------------------------------- */
		a {
			@extend %specialTextPad;
			@include setBorder(1px, solid, $accent-bright, bottom);
			// necessary?
			color: inherit;
			@extend %resetAnchors;
			&:hover {
				@include setBorder(2px, solid, $accent-bright, bottom);
				color: black;
				background-color: rgba($accent-bright, .1);
			}
		}


		/* ---------------------------------
		other
		--------------------------------- */
		hr {
			width: 20%;
			margin: emCalc(20) auto emCalc(20);
			// needed to remove browser def border
			border: 0;
			@include setBorder(3px, double, $utility-light-gray, bottom);
		}
	}
	.blog-post-footer {
		.blog-post-notes {
			// need notes to test these rules!
			/*
			border-top: 1px dotted $utility-light-gray;
			margin-top: 3.5em;
			color: $utility-light-gray;
			ol {
				background-color: inherit;
				border: 0px none;
			}
			p { color: $utility-light-gray; }
			p a {
				color: #333;
				text-decoration: none;
				border-bottom: none;
			}
			p a:hover {
				color: $utility-light-gray;
				text-decoration: none;
				border-bottom: none;
			}
			*/
		}
	}
}


// footer
footer {
	margin-bottom: emCalc(40);
	.blog-post-cta {
		@include resetBox($pad: 0, $isList: true);
		// overrides resetBox
		margin: 0 auto emCalc(30);
		@include setBorder(1px, dotted, $utility-light-gray, top);
		// font properties should probably be set on .blog-post
		@include setFonts(16, $base-font, $utility-dark-gray, center, 400);
		@media(min-width: 650px) {
			@include setFlexbox(row nowrap, center, center);
			@include setBorder(1px, dotted, $utility-light-gray, bottom);
		}
		.blog-post-cta-block {
			width: 100%;
			@include setBorder(1px, dotted, $utility-light-gray, bottom);
			@media(min-width: 650px) {
				width: 50%;
				@include setBorder(1px, dotted, $utility-light-gray, right);
				border-bottom: none;
				&:last-child { border-right: none; }
			}
			.blog-post-cta-button {
				display: block;
				padding: emCalc(30);
				color: inherit;
				@extend %resetAnchors;
				&:hover {
					background-color: $accent-bright;
					color: white;
					transition: all, 200ms, ease;
				}
			}
		}
	}
	small {
		display: block;
		@include setFonts(12, $system-font, $font-color-secondary, center);
	}
}










