---
# Front matter is needed in main files for SCSS > CSS conversion!
---

/* ========================
testPost.scss
======================== */


/* ---------------------------------
imports
--------------------------------- */

@import '_normalize';
@import 'dtc-blog-logic';


/* ---------------------------------
common
--------------------------------- */

// setting `border-box`
* { box-sizing: border-box; }

// setting the global `font-size` at 10px
// for em calculations in base 10
body {
	// mixin?
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	font-size: 62.5%;
	// already defined in the setFonts mixin
	// color: $font-color-primary;
}


/* ---------------------------------
rules
--------------------------------- */

main { flex-grow: 1; }

.container {
	padding: emCalc(20);
}

.blog-post-nav {
	background-color: $asphalt;
	ul { @include resetBox(1em, 0, true); }
}

// .blog-post
.blog-post {
	.blog-post-header {
		position: relative;
		height: emCalc(280);
		overflow: hidden;
		.blog-post-header-text {
			position: absolute;
			// necessary?
			top: 0;
			left: 0;
			@include setFlexbox(column nowrap, center, flex-start);
			height: 100%;
			padding: emCalc(20);
			color: $paper;
			background-color: rgba(black, .15);
			.blog-post-title,
			.blog-post-subtitle,
			.blog-post-timestamp { margin: 0; }
			.blog-post-title {
				// is this override necessary?
				flex-grow: 1;
				margin-bottom: emCalc(5);
				@include setFonts(32, $heading-font, $font-color-bright);
			}
			.blog-post-subtitle {}
			// include in .blog-post-meta?
			.blog-post-timestamp {
				@include setFonts((16 * 0.8), $system-font, $font-color-secondary);
			}
			.blog-post-meta {
				@include setFlexbox(row nowrap, flex-start, center);
				width: 100%;
				@include resetBox(0, 0, true);
				@include setFonts((16 * 0.8), $system-font, $font-color-secondary);
				// can we manage spacing via flexbox?
				li {
					margin-right: 10px;
					} &:last-child { margin-right: 0; }
			}
		}
		.blog-post-header-img {
			min-height: 100%;
			width: auto;
		}
	}
	.blog-post-body {
		padding: emCalc(10) emCalc(20);
		// update var w/ color
		@include setFonts(16, $base-font, $utility-dark-gray);
		// verify
		line-height: 1.7;
		h2, h3, h4, h5, h6 { font-family: $heading-font; }
		/* ---------------------------------
		legacy rules, need improvement
		- remove unneeded properties
		- store repeated props/values in vars/mixins
		- normalize em values w/ emCalc
		--------------------------------- */
		&::selection {
			background: $utility-dark-gray;
			color: white;
		}
		em {
			@extend %specialTextPad;
			background-color: $utility-highlight;
		}
		strong { color: $utility-dark-gray; }
		pre {
			padding: emCalc(20) emCalc(10);
			border-left: 3px solid $accent-bright;
			background-color: rgba($utility-light-gray, .5);
			tab-size: 2;
			line-height: 1.5em;
			white-space: pre-wrap;
		}
		code.inline-code {
			@extend %specialTextPad;
			background-color: rgba($utility-light-gray, .5);
			border-radius: 3px;
			font-size: 0.9em;
		}
		blockquote {
			font-style: italic;
			border-left: 3px solid $accent-bright;
			padding: 0 1em;
			margin: 1em 2em;
		}
		hr {
			width: 30%;
			border: 0;
			border-bottom: 3px double $utility-light-gray;
		}
		ul,ol {
			// convert
			padding: 1em 1.8em;
			// create a border mixin
			@include setBorder(1px, solid, $utility-light-gray, top);
			@include setBorder(1px, solid, $utility-light-gray, bottom);
			background-color: $background-bright-secondary;
			li {
				// convert
				padding: 0.5em 0;
				&::marker { color: white; }
			}
		}
		ul { list-style: circle; }
		a {
			@extend %specialTextPad;
			border-bottom: 1px solid $accent-bright;
			// necessary?
			color: inherit;
			text-decoration: none;
			&:hover {
				color: black;
				border-bottom: 2px solid $accent-bright;
				background-color: rgba($accent-bright, .1);
			}
		}
	}
	.blog-post-footer {
		.blog-post-notes {
			// need notes to test these rules!
			/*
			border-top: 1px dotted $utility-light-gray;
			margin-top: 3.5em;
			color: $utility-light-gray;
			ol {
				background-color: inherit;
				border: 0px none;
			}
			p { color: $utility-light-gray; }
			p a {
				color: #333;
				text-decoration: none;
				border-bottom: none;
			}
			p a:hover {
				color: $utility-light-gray;
				text-decoration: none;
				border-bottom: none;
			}
			*/
		}
		.blog-post-cta { background-color: $background-bright; }
	}
}

footer {
	small {
		display: block;
		@include setFonts(12, $system-font, $font-color-secondary, center);
	}
}




































