---
# Front matter is needed in main files for SCSS > CSS conversion!
---

/* ========================
testPost.scss
======================== */


/* ---------------------------------
imports
--------------------------------- */

@import '_normalize';
@import 'dtc-blog-logic';


/* ---------------------------------
common
--------------------------------- */

// setting `border-box`
* { box-sizing: border-box; }

// setting the global `font-size` at 10px
// for em calculations in base 10
body {
	font-size: 62.5%;
	// already defined in the setFonts mixin
	// color: $font-color-primary;
}

// body {
// 	display: flex;
// 	flex-flow: column nowrap;
// 	min-height: 100vh;
// }

// main {flex: 1;}


/* ---------------------------------
rules
--------------------------------- */

.container {
	padding: emCalc(20);
}

.blog-post-nav {
	background-color: $asphalt;
	ul { @include resetBox(1em, 0, true); }
}

// .blog-post
.blog-post {
	.blog-post-header {
		position: relative;
		height: emCalc(280);
		overflow: hidden;
		.blog-post-header-text {
			position: absolute;
			// necessary?
			top: 0;
			left: 0;
			@include setFlexbox(column nowrap, center, flex-start);
			height: 100%;
			padding: emCalc(20);
			color: $paper;
			background-color: rgba(black, .15);
			.blog-post-title,
			.blog-post-subtitle,
			.blog-post-timestamp { margin: 0; }
			.blog-post-title {
				// is this override necessary?
				flex-grow: 1;
				margin-bottom: emCalc(5);
				@include setFonts(32, $heading-font, $font-color-bright);
			}
			.blog-post-subtitle {}
			// include in .blog-post-meta?
			.blog-post-timestamp {
				@include setFonts((16 * 0.8), $system-font, $font-color-secondary);
			}
			.blog-post-meta {
				@include setFlexbox(row nowrap, flex-start, center);
				width: 100%;
				@include resetBox;
				list-style: none;
				@include setFonts((16 * 0.8), $system-font, $font-color-secondary);
				// can we manage spacing via flexbox?
				li {
					margin-right: 10px;
					} &:last-child { margin-right: 0; }
			}
		}
		.blog-post-header-img {
			min-height: 100%;
			width: auto;
		}
	}
	.blog-post-body {
		padding: emCalc(10) emCalc(20);
		@include setFonts((16), $base-font, $font-color-dark);
	}
	.blog-post-footer {}
}






































