/* ---------------------------------
BackButton
--------------------------------- */

@import "../../styles/logic";

.BackButton {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: inherit;
  cursor: pointer;

  &.--dark {
  }

  &:hover {
    border: 2px solid $asphalt;
    color: $asphalt;
  }

  .BackButtonLink {
    @extend %resetAnchors;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 6px;
    border: 2px solid transparent;
  }

  .label {
    margin-left: 6px;
    text-transform: capitalize;
  }
}
