---


---


/* ========================
dtc-resume-main.scss
======================== */

/* ---------------------------------
imports
--------------------------------- */

@import '_dtc-logic';


/* ---------------------------------
colors
--------------------------------- */

$background-page-outer: #F7ECE1;
$background-page-inner: #f2f2f2;
$accent-primary: #00a0b0;

/* ========================
COMMON
======================== */

body {
	background-color: #F7ECE1;
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	color: #5a5a5a;
	margin: 0;
}

.separator {
	width: 100%;
	border: 0;
	border-bottom: 0.25em solid #f2f2f2;
	margin: 2.5em auto;
}

.section-separator {
	width: 100%;
	border: 0;
	border-bottom: 0.4em double #E0D6CC;
	margin: 2.5em auto;
}

li {margin-bottom: 0.5em;}

.multiline-list li {margin-bottom: 1em;}

a {
	color: #00a0b0;
	text-decoration: none;
	border-bottom: 1px dotted #00a0b0;
}

a:hover {
	background-color: $utility-highlight;
	color: #5a5a5a;
}

::selection {background-color: $utility-highlight;}


/* ========================
CONTAINERS
======================== */

.wrapper {
	max-width: 50em;
	margin: 0 auto 40px;
	border: 0.25em solid #E0D6CC;
	background-color: #f2f2f2;
	&:last-child { margin-bottom: 0; }
}

.container {
	padding: 2.5em;
	margin: 0;
	background-color: #fff;
}


/* ========================
TEXT FORMATTING
======================== */

.subtext {
	text-align: center;
	font-size: 0.9em;
	color: #E0D6CC;
}

.subtext a {
	color: #E0D6CC;
	text-decoration: none;
	border-bottom: 1px solid #E0D6CC;
}

.subtext a:hover {
	color: #444;
	border-bottom: 1px solid #444;
	background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: #3a3a3a;
}

h1 {
	text-align: center;
	margin: 0 0 1.25em 0;
}

.container h2 {
	font-size: 1.5em;
	margin-bottom: 0;
	padding-left: 0.2em;
	border-left: 4px solid #00a0b0;
}

// .container .alt-par-heading {
// 	padding-left: 0.2em;
// 	border-left: 4px solid #27ae60;
// }

// change this to a heading!
.container .list-heading {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 1.17em;
	color: #3a3a3a;
}

.container h4 {
	font-size: 1.06em;
	text-align: left;
	margin: 0 0 1.2em;
	padding: 0 0 0 0.2em;
	border-left: 4px solid #00a0b0;
}


/* ---------------------------------
new!
--------------------------------- */

/* ---------------------------------
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
integrate _dtc-blog-logic

(in progress)
--------------------------------- */

// other
.rbreak { display: none; }

.rhide {
	// inserts a space before and after separator
	&::before { content: ' ' }
	&::after { content: ' ' }
}

// buttons
.cta-button {
	padding: 10px;
	border-radius: 4px;
	text-align: center;
	color: $background-page-inner;
	background-color: $accent-primary;
	&:hover {
		color: $background-page-inner;
		background-color: darken($accent-primary, 15%);
	}
}

// special formatting
.special-char { color: red; }

.underline { border-bottom: 2px solid #E0D6CC; }

.supertext {
	background-color: $utility-highlight;
	padding: 1px 2px;
	border-radius: 2px;
}


// hero
.hero {
	padding: 45px 0;
	.hero-head {
		margin: 0 0 0 -0.25em;
		font-family: 'Kaushan Script', cursive;
		font-weight: 400;
		font-size: 11em;
		letter-spacing: -0.09em;
		color: #00a0b0;
	}
	.hero-sub-head {
		text-align: center;
		color: #00a0b0;
		margin: 0;
	}
}


// nav
.page-controls {
	ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		padding: 0;
		list-style: none;
		li {
			margin: 0 10px 0 0;
			&::after { content: none; }
			&:last-child { margin: 0; }
			&:last-child::after { content: none; }
			img {
				margin-left: 5px;
				vertical-align: middle;
			}
		}
	}
}


// elevator
.elevator {
	// or sticky?
	visibility: hidden;
	position: fixed;
	// should it be relative to the wrapper?
	top: 2%;
	right: 2%;
	box-sizing: border-box;
	width: 55px;
	height: 55px;
	padding: 17px 0;
	border: none;
	border-radius: 100%;
	font-size: 14px;
	color: #f1f1f1;
	text-transform: uppercase;
	text-align: center;
	background-color: rgba($accent-primary, .6);
	&:hover {
		color: #f1f1f1;
		background-color: darken($accent-primary, 15%);
	}
	@media(min-width: 990px) { visibility: visible; }
}


// notification-bar
.notification-bar {
	position: absolute;
	top: 70px;
	left: 50%;
	width: 70%;
	padding: 10px;
	border: 1px solid darken($utility-highlight, 20%);
	border-radius: 4px;
	text-align: center;
	background-color: $utility-highlight;
	transform: translate(-50%, 0);
	opacity: 0;
	transition: opacity 500ms ease-out;
}


// section header
.section-header {
	margin-bottom: 40px;
	.section-heading {
		margin: 0;
		font-size: 30px;
	}
	p { margin-bottom: 0; }
}


/* ---------------------------------
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
we need to reflect HTML changes in
the IT text, inside dtc-resume-main.js!!
--------------------------------- */
// outline-block
.outline-block {
	margin-bottom: 50px;
	// &::after { content: '* * *' }
	.outline-block-list-heading {
		padding-left: 0.2em;
		margin: 0 0 20px;
		border-left: 4px solid #27ae60;
	}
	ul {
		margin: 0;
		list-style: circle;
		@media(max-width: 500px) {
			padding: 0;
			list-style: none;
			li {
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: 1px dotted #E0D6CC;
				&:last-child { margin-bottom: 0; }
				a { border-bottom: none; }
			}
		}
	}
}


// .quick-outline--profile
.quick-outline--profile {
	.list-heading, p { margin: 0; }
}


// .quick-outline--skills
.quick-outline--skills {
	.skill-list {
		// try baseline in HP, too
		@include setFlexbox(row wrap, flex-start, baseline);
		padding: 0;
		list-style: none;
		@media(max-width: 380px) { @include setFlexbox(column nowrap, center, stretch); }
		.skill-list-item {
			padding: 5px 10px;
			margin-right: 10px;
			border: 2px solid #f2f2f2;
			border-radius: 6px;
			@media(max-width: 380px) {
				margin-right: 0;
				text-align: center;
			}
		}
	}
}


// quick-outline--contact
.quick-outline--contact {
	.quick-outline--contact-inner {
		display: flex;
		align-items: center;
		margin-top: 20px;
		p {
			flex-basis: 70%;
			margin: 0 15px 0 0;
		}
		.contact-button { flex-basis: 30%; }
		@media(max-width: 600px) {
			flex-flow: column nowrap;
			p { margin: 0 0 20px; }
			.contact-button {
				// should be applied globally!
				box-sizing: border-box;
				width: 100%;
			}
		}
	}
}


// story-block
.story-block {
	&:nth-of-type(1),
	&:nth-of-type(9) { border-top: 1px dotted #E0D6CC; }
	.story-block-header {
		position: relative;
		padding: 30px 10px;
		border-bottom: 1px dotted #E0D6CC;
		h2, h4 {
			padding: 0;
			margin: 0;
		}
		h4 { color: inherit; }
		&:hover {
			border-bottom: 1px solid #00a0b0;
			background-color: rgba(#E0D6CC, .15);
			cursor: pointer;
			&::before {
				position: absolute;
				right: 10px;
				top: 45px;
				padding: 5px 10px;
				border-radius: 20px;
				content: 'click to toggle';
				background-color: $background-page-outer;
				// too much nesting?
				@media(max-width: 750px) {
					content: none;
				}
			}
		}
	}
	.story-block-body {
		padding: 20px 10px;
		p:first-child { margin-top: 0; }
		p:last-child { margin-bottom: 0; }
	}
	// reqs js adjustments
	// .story-block-footer { border-bottom: 1px dotted #E0D6CC; }
}


/* fix this heavy legacy ID */
.container .story-block-header > h2,
.container	.story-block-header > h4 { border: none; }

/* ========================
RESPONSIVE
======================== */

@import "_dtc-resume-responsive";
