---


---


/* ========================
dtc-resume-main.scss
======================== */

/* ========================
COMMON
======================== */

body {
	background-color: #F7ECE1;
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	color: #5a5a5a;
	margin: 0;
}

.separator {
	width: 100%;
	border: 0;
	border-bottom: 0.25em solid #f2f2f2;
	margin: 2.5em auto;
}

.section-separator {
	width: 100%;
	border: 0;
	border-bottom: 0.4em double #E0D6CC;
	margin: 2.5em auto;
}

li {margin-bottom: 0.5em;}

.multiline-list li {margin-bottom: 1em;}

a {
	color: #00a0b0;
	text-decoration: none;
	border-bottom: 1px dotted #00a0b0;
}

a:hover {
	background-color: #fadf63;
	color: #5a5a5a;
}

::-moz-selection {background-color: #fadf63;}

::selection {background-color: #fadf63;}

.rbreak {display: none;}


/* ========================
CONTAINERS
======================== */

.wrapper {
	max-width: 50em;
	margin: 0 auto;
	background-color: #f2f2f2;
	border: 0.25em solid #E0D6CC;
}

.container {
	background-color: #fff;
	margin: 0;
	padding: 2.5em;
}


/* ========================
TEXT FORMATTING
======================== */

.subtext {
	text-align: center;
	font-size: 0.9em;
	color: #E0D6CC;
}

.subtext a {
	color: #E0D6CC;
	text-decoration: none;
	border-bottom: 1px solid #E0D6CC;
}

.subtext a:hover {
	color: #444;
	border-bottom: 1px solid #444;
	background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: #3a3a3a;
}

h1 {
	text-align: center;
	margin: 0 0 1.25em 0;
}

.wrapper .hero-head {
	font-family: 'Kaushan Script', cursive;
	font-weight: 400;
	font-size: 11em;
	letter-spacing: -0.09em;
	color: #00a0b0;
	margin: 0 0 0 -0.25em;
	padding: 0.25em 0 0;
	text-decoration: none;
}

.wrapper .hero-sub-head {
	text-align: center;
	color: #00a0b0;
	margin: 0;
	padding: 0 0 2.5em 0;
}

.container .underline {
	border-bottom: 2px solid #E0D6CC;
}

.container h2 {
	font-size: 1.5em;
	margin-bottom: 0;
	padding-left: 0.2em;
	border-left: 4px solid #00a0b0;
}

.container .alt-par-heading {
	padding-left: 0.2em;
	border-left: 4px solid #27ae60;
}

.container .list-heading {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 1.17em;
	color: #3a3a3a;
}

.container h4 {
	font-size: 1.06em;
	text-align: left;
	margin: 0 0 1.2em;
	padding: 0 0 0 0.2em;
	border-left: 4px solid #00a0b0;
}


/* ---------------------------------
new!
--------------------------------- */

.special-char { color: red; }

.section-header {
	display: flex;
	justify-content: center;
	.section-heading {
		margin: 0 auto 40px;
		font-size: 30px;
		border-bottom: 2px solid #E0D6CC;
	}
}

.story-block {
	.story-block-header {
		// experimental
		position: relative;
		padding: 30px 10px;
		border-bottom: 1px dotted #E0D6CC;
		h2, h4 {
			padding: 0;
			margin: 0;
		}
		h4 { color: inherit; }
		&:hover {
			border-bottom: 1px solid #00a0b0;
			background-color: rgba(#E0D6CC, .25);
			cursor: pointer;
			// experimental
			&::before {
				position: absolute;
				right: 10px;
				top: 45px;
				padding: 5px 10px;
				border-radius: 20px;
				content: 'click to toggle';
				background-color: wheat;
			}
		}
	}
	.story-block-body {
		padding: 20px 10px;
		p:first-child { margin-top: 0; }
		p:last-child { margin-bottom: 0; }
	}
}



/* fix this heavy legacy ID */
.container .story-block-header > h2,
.container	.story-block-header > h4 { border: none; }

/* ========================
RESPONSIVE
======================== */

@import "_dtc-resume-responsive";
