
doctype
html
	head
		| {% include dtc-common-meta %}
		link(href='https://fonts.googleapis.com/css?family=Arvo:400|Kaushan+Script:400|Karla:400', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="css/dtc-resume-main.css", type="text/css")
		| {% include dtc-ga-snp.html %}
	body
		nav.page-controls
			ul.subtext
				li
					a(href="/index.html") &#8592; Back to homepage
				li
					a(href="#", class='lang-switcher') Versione italiana
					img(src='img/it-flag.svg', width='16', height='auto')

		//- back to top
		a.elevator(href="#")
			| &#x25B2;
			br
			| top

		//- dynamically filled
		.notification-bar

		| {{ content }}

		footer
			p.subtext {% include dtc-common-footer %}

		script(src="js/jquery.min.js")
		script(src="js/dtc-resume-main.js")
		script(src="js/dtc-resume-print.js")
