---
layout:
title:
---

//- vars
//- is `var` implicit?
- vNumber = '5.0.0'
- copyYear = 2017
- timeStamp = new Date();
- printLastEdit = () => timeStamp.toLocaleString();

doctype
html
	head
		meta(charset="utf-8")
		meta(name="keywords", content="Alessandro Di Tecco,ui design,user interface design,interface design,design,startup,user experience,ux design,coworking,entrepreneur,entrepreneurship")
		meta(name="author", content="Alessandro Di Tecco")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="Alessandro Di Tecco is an interface designer and entrepreneur. This is his personal website.")

		link(href='http://fonts.googleapis.com/css?family=Montserrat|Roboto', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="/css/dtc-home-main.css")

		title Alessandro Di Tecco | Interface designer &amp; entrepreneur

	body
		main.card-list-container
			ul.card-list
				li.card-list-item.card-list-item--master
					article.card-list-item-body
						h2 Hi, this is Alessandro <br>Di Tecco.
				li.card-list-item
					article.card-list-item-body
						h3 About
						p I design user interfaces for web &amp; mobile apps.
				li.card-list-item.card-list-item--header
					article.card-list-item-body
						h3 Work
				li.card-list-item
					a(href="")
						article.card-list-item-body
							h3 Simplest
							p My one-man-band user interface design studio.
							span(class="card-list-item-tag") 2011&ndash;Present
				li.card-list-item
					a(href="")
						article.card-list-item-body
							h3 Geekville
							p A coworking space for tech &amp; creative professionals.
							span(class="card-list-item-tag card-list-item-tag--archived") 2013&ndash;2017
				li.card-list-item
					a(href="")
						article.card-list-item-body
							h3 The Collective
							p The first authentic coworking space in Verona.
							span(class="card-list-item-tag card-list-item-tag--archived") 2012&ndash;2013
				li.card-list-item
					a(href="")
						article.card-list-item-body
							h3 The Digital League
							p A community for tech pros &amp; innovators in the Verona area.
							span(class="card-list-item-tag card-list-item-tag--archived") 2011&ndash;2013
				li.card-list-item
					a(href="")
						article.card-list-item-body
							h3 R&eacute;sum&eacute;
							p Read more about my current &amp; past activities.
							span(class="card-list-item-tag card-list-item-tag--featured") r&eacute;sum&eacute; &amp; cv
				li.card-list-item.card-list-item--header
					article.card-list-item-body
						h3 Projects
				li.card-list-item
					a(href="")
						article.card-list-item-body
							h3 I take pictures
							p Casual &amp; experimental photography.
							span(class="card-list-item-tag card-list-item-tag--archived") photography

		footer
			p &copy;#{copyYear} Alessandro Di Tecco&comma; All rights reserved. &mdash; v#{vNumber} &bull; #{printLastEdit()}
