---
# required JK front matter
---


/* ========================
dtc-home-main.scss
======================== */


/* ---------------------------------
imports
--------------------------------- */

@import '_dtc-logic';


/* ---------------------------------
common
--------------------------------- */

* { box-sizing: border-box; }

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
	text-align: center;
	color: $utility-dark-gray;
	background-color: $background-bright-03;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

h1 { font-size: 2.4em; }

h2 {
	font-size: 2em;
	margin: 0.8em 0;
}

h3 { font-size: 1.6em; }

a,
abbr[title] {
	border-bottom: 1px solid $accent-bright;
	color: inherit;
	text-decoration: none;
}
a:hover,
abbr[title]:hover {
	color: black;
	border-bottom: 2px solid $accent-bright;
	background-color: rgba($accent-bright, .1);
}

abbr::after {
	// content: '(?)';
	content: ' (?)';
	font-size: 60%;
	color: $utility-light-gray;
	vertical-align: text-top;
}

::selection {
	background: $accent-bright;
	color: $utility-dim-white;
}


/* ---------------------------------
card list
--------------------------------- */

.card-list-container {
	margin: 40px 0;
	// iPhone 6 Plus
	@media(max-width: 420px) {
		margin: 20px 0;
	}
}

.card-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style: none;
	.card-list-item {
		flex-basis: 300px;
		height: 200px;
		margin: 0 20px 20px 0;
		border-radius: 4px;
		border-bottom: 4px solid rgba($clouds, .99);
		text-align: left;
		color: #444;
		box-shadow: 0 2px 4px rgba(#777, .15);
		background-color: #fff;
		transition: all 0.5s ease;
		&:last-child { margin: 0; }
		&:hover {
			border-bottom: 4px solid $accent-bright;
			transform: rotate(-1.5deg);
		}
		// iPhone 6 Plus
		@media(max-width: 420px) {
			margin-right: 0;
		}
		@media(max-width: 360px) {
			flex-basis: 280px;
			height: auto;
		}
	}
}

.card-list-item-body {
	padding: 25px 20px;
	h5 {
		margin: 0 0 7px;
		color: $silver;
		text-transform: uppercase;
	}
	h3 { margin: 0; }
	p {
		margin: 15px 0;
	}
	.card-list-item-tag {
		padding: 0.2em 1em;
		border: 2px solid $silver;
		border-radius: 20px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 0.9em;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		color: $silver;
		&.card-list-item-tag--featured {
			color: #470ff4;
			border: 2px solid #470ff4;
		}
		&.card-list-item-tag--archived {
			color: $deepPurple;
			border: 2px solid $deepPurple;
		}
	}
}

.card-list-item.card-list-item--master {
	height: auto;
	& > a { padding: 1px 2px; }
	&:hover {
		// is there a more elegant way to override hover borders?
		border-bottom: 4px solid rgba($clouds, .99);
		transform: none;
	}
	article > *:not(.card-list-item-header) { padding: 20px; }
	.card-list-item-header {
		padding: 40px 20px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		background:
			linear-gradient(to bottom, transparent, 30%, rgba(black, .8)),
			url('/img/adt-hero.jpg') center center no-repeat,
			$gunMetal;
		background-size: 140% auto;
		h2 {
			margin: 0;
			color: #eee;
		}
	}
	.card-list-item-body {
		padding: 30px 0;
		p {
			margin: 0;
			line-height: 1.8;
		}
	}
	.card-list-item-footer {
		@include setBorder(1px, solid, rgba($clouds, .99), top);
		h6 {
			margin: 0 0 10px;
			font-size: 12px;
			color: $font-color-secondary;
		}
		.social-list {
			@include setFlexbox(row nowrap, space-evenly, center);
			@include setBox(0, 0, true);
		}
	}
}


/* ---------------------------------
footer
--------------------------------- */

footer {
	padding: 0 20px 20px;
	color: $utility-light-gray;
	p {
		font-size: 0.7em;
		margin: 0;
	}
}
