
doctype
html
	head
		meta(name="description" content="")
		link(href='http://fonts.googleapis.com/css?family=Arvo|Kaushan+Script|Karla', rel='stylesheet', type='text/css')
		//- temp stylesheet!
		link(rel="stylesheet", href="css/dtc-resume-main-convTest.css", type="text/css")
		title
	body
		p.subtext
			a(href="/index.html") &#8592; Back to homepage?
		.wrapper
			h1.hero-head R&eacute;sum&eacute;
			h4.hero-sub-head of Alessandro Di Tecco
			main.container
				block content
		footer
			p.subtext All content &copy; 2017 Alessandro Di Tecco<br>
				a(href="#") &#8593; Back to top

		script(src="js/jquery.min.js")
		script(src="js/dtc-resume-main.js")
