<!-- ====================== TWITTER SNP ======================  -->
<div id="cta">
	<ul>
		<a href="https://twitter.com/intent/tweet?text=Check+out+this+post+on+http://ditecco.me&via=aditecco" target="_blank">
			<li>
				<p>Tweet this post</p>
			</li>
		</a>
		
		<a href="https://twitter.com/intent/follow?screen_name=aditecco" target="_blank">
			<li>
				<p>Follow me on Twitter</p>
			</li>
		</a>
	</ul>
</div>

<!-- scripts -->
<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
