
//- vars
- vNumber = '5.0.0 (beta)'
- copyYear = 2017
- timeStamp = new Date();
- printLastEdit = () => timeStamp.toLocaleString();

| &copy;#{copyYear} Alessandro Di Tecco&comma; All rights reserved. &mdash; v#{vNumber} &bull; #{printLastEdit()}
