<!-- ====================== CTA & COMMENTS ======================  -->
<section>
	<div id="cta">
		<ul>
			<a href="https://twitter.com/intent/tweet?text=Check+out+this+post+on+http://ditecco.me&via=aditecco" target="_blank">
				<li>
					<p>Tweet this post</p>
				</li>
			</a>
			
			<a href="https://twitter.com/intent/follow?screen_name=aditecco" target="_blank">
				<li>
					<p>Follow me on Twitter</p>
				</li>
			</a>
		</ul>
	</div>

	<!-- scripts -->
	<script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
		
	<div id="dq-embed"><!-- disqus embed -->
		<div id="disqus_thread"></div>
	    <script type="text/javascript">
	        var disqus_shortname = 'alessandroditecco';

	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
	    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</section> <!-- /cta & comments -->