
doctype
html
	head
		//- check contents against this: https://github.com/joshbuchea/HEAD
		//- for unicode chars
		//- https://stackoverflow.com/questions/1696619/displaying-unicode-symbols-in-html
		meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
		meta(name="description" content="")
		link(href='http://fonts.googleapis.com/css?family=Arvo|Kaushan+Script|Karla', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="css/dtc-resume-main.css", type="text/css")
		title
	body
		nav.page-controls
			ul.subtext
				li #[a(href="/index.html") &#8592; Back to homepage]
				//- add country flag
				li #[a(href="#") Italian version]

		.wrapper
			.hero
				h1.hero-head R&eacute;sum&eacute;
				h4.hero-sub-head of Alessandro Di Tecco

			main.container
				block content

		footer
			p.subtext All content &copy; 2017 Alessandro Di Tecco<br>
				a(href="#") &#8593; Back to top

		script(src="js/jquery.min.js")
		script(src="js/dtc-resume-main.js")
