
//- vars
- var vNumber = '5.6.8 (beta)'
- var copyYear = 2018
- var timeStamp = new Date()
- var printLastEdit = () => timeStamp.toLocaleString()

| &copy;#{copyYear} Alessandro Di Tecco&comma; All rights reserved. &mdash; v#{vNumber} &bull; #{printLastEdit()}
